<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <p>Home page </p>
    <a href="/signup"> Sign Up </a> <br>
    <a href="/login"> Login </a> <br>
    <a href="/payment"> Payment </a> <br>
    <button><a href="/logout"> Logout </a></button>
</body>
</html>